*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.container{
    margin: 0 auto;
}

.row{
    flex-wrap: wrap;
    flex-direction: row;
}

[class*="col-"] {
    flex: 0 0 auto;
}

.col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}


/* ----Standard column dimensions--- */

.col-1{
    flex-basis: calc((100% / 12 ) * 1);
    max-width: calc((100% / 12 ) * 1);
}

.col-2{
    flex-basis: calc((100% / 12 ) * 2);
    max-width: calc((100% / 12 ) * 2);
}

.col-3{
    flex-basis: calc((100% / 12 ) * 3);
    max-width: calc((100% / 12 ) * 3);
}

.col-4{
    flex-basis: calc((100% / 12 ) * 4);
    max-width: calc((100% / 12 ) * 4);
}

.col-5{
    flex-basis: calc((100% / 12 ) * 5);
    max-width: calc((100% / 12 ) * 5);
}

.col-6{
    flex-basis: calc((100% / 12 ) * 6);
    max-width: calc((100% / 12 ) * 6);
}

.col-7{
    flex-basis: calc((100% / 12 ) * 7);
    max-width: calc((100% / 12 ) * 7);
}

.col-8{
    flex-basis: calc((100% / 12 ) * 8);
    max-width: calc((100% / 12 ) * 8);
}

.col-9{
    flex-basis: calc((100% / 12 ) * 9);
    max-width: calc((100% / 12 ) * 9);
}

.col-10{
    flex-basis: calc((100% / 12 ) * 10);
    max-width: calc((100% / 12 ) * 10);
}

.col-11{
    flex-basis: calc((100% / 12 ) * 11);
    max-width: calc((100% / 12 ) * 11);
}

.col-12{
    flex-basis: calc((100% / 12 ) * 12);
    max-width: calc((100% / 12 ) * 12);
}


/* ----Standard margin dimensions--- */

.mar-0{
    margin-left: calc((100% / 12 ) * 0);
}

.mar-1{
    margin-left: calc((100% / 12 ) * 1);
}

.mar-2{ 
    margin-left: calc((100% / 12 ) * 2);
}

.mar-3{ 
    margin-left: calc((100% / 12 ) * 3);
}

.mar-4{ 
    margin-left: calc((100% / 12 ) * 4);
}

.mar-5{ 
    margin-left: calc((100% / 12 ) * 5);
}

.mar-6{ 
    margin-left: calc((100% / 12 ) * 6);
}

.mar-7{ 
    margin-left: calc((100% / 12 ) * 7);
}

.mar-8{ 
    margin-left: calc((100% / 12 ) * 8);
}

.mar-9{ 
    margin-left: calc((100% / 12 ) * 9);
}

.mar-10{ 
    margin-left: calc((100% / 12 ) * 10);
}

.mar-11{ 
    margin-left: calc((100% / 12 ) * 11);
}

